@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';


@plugin "daisyui" {
  /* Her tilføjes theme variable // tokens */
  themes:light:
}



@plugin "daisyui/theme" {
  name: "light ";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #ffffffff;
  --color-base-200: #EE8E46;
  --color-base-300: #0B5BF8;
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #0B5BF8;
  --color-primary-content: #ffffff;
  --color-secondary: #EE8E46;
  --color-secondary-content: #ffffff;
  --color-accent: #ffffff;
  --color-accent-content: #000000;
  --color-neutral: #000000;
  --color-neutral-content: #ffffffff;
  --color-info: #0023A2;
  --color-info-content: #ffffffff;
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: #000000;
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(50% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 0rem;
  --size-selector: 0.3125rem;
  --size-field: 0.3125rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@theme {
  --color-base-100: #ffffffff;
  --color-base-200: #EE8E46;
  --color-base-300: #0B5BF8;
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #0B5BF8;
  --color-primary-content: #ffffff;
  --color-secondary: #EE8E46;
  --color-secondary-content: #ffffff;
  --color-accent: #ffffff;
  --color-accent-content: #000000;
  --color-neutral: #000000;
  --color-neutral-content: #ffffffff;
  --color-info: #0023A2;
}



@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components{

}
@layer utilities{
  
}

@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');

.oi-regular {
  font-family: "Oi", serif;
  font-weight: 400;
  font-style: normal;
}


@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&family=Oi&display=swap');


.brygada-1918-400 {
  font-family: "Brygada 1918", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Sora+Sompeng:wght@400..700&display=swap');
.noto-sans-sora-sompeng-400{
  font-family: "Noto Sans Sora Sompeng", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.inria-serif-regular-italic {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: italic;
}


@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');

.climate-crisis-900{
  font-family: "Climate Crisis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 2000;
  font-style: normal;
  font-variation-settings:
    "YEAR" 1979;
}



/*Animationer*/

@theme {
  /*Infinite scroll animation*/
  --animate-infinite-scroll: infinite-scroll 130s linear infinite;  

  @keyframes infinite-scroll {    
  from { transform: translateX(0);}    
  to { transform: translateX(-100%);}  
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2025-5-19 17:19:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-vertical
 * ----------------------------------------
 */
@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
            transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
            transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.jello-vertical {
	-webkit-animation: jello-vertical 22s cubic-bezier(0.470, 0.000, 0.745, 0.715) infinite both;
	        animation: jello-vertical 22s cubic-bezier(0.470, 0.000, 0.745, 0.715) infinite both;
}