---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Headerbanner from "../components/Headerbanner.astro";
import Header from "../components/Header.astro";
import Herosectiontypografi from "../components/Herosectiontypografi.astro";
import Billetcard from "../components/Billetcard.astro";
import Primarybutton from "../components/Primarybutton.astro";
---

<MainLayout title="Titel">
  <Headerbanner />
  <Herosectiontypografi />
  <article class="p-[16px] sm:p-16 m-[30px] sm:m-30 flex flex-col justify-center">
    <h5 class="brygada-1918-400 text-[20px] md:text-[50px] mt-2 mb-4">Partout</h5>
    <p class="noto-sans-sora-sompeng-400 mt-7 mb-7">Giver adgang til Food Festival alle dage 5-7-september 2025 Børn til og med 10 år er gratis</p>
    <p class="brygada-1918-400 font-bold text-[20px] md:text-[30px] mb-7">Priser i indgangen</p>
  </article>

  <article class="p-[16px] sm:p-16 swing-in-bottom-bck">
    <div class="flex flex-row items-center justify-center gap-8 w-full">
      <div class="flex flex-1"></div>
      <div class="flex flex-row items-center justify-center gap-8">
        <div class="relative inline-block">
          <img src="/billetcard.svg" alt="Main Image" class="w-48 sm:w-auto" />
          <div class="absolute inset-0 flex justify-center items-center pointer-events-none">
            <div class="flex justify-center items-center w-15 mx-auto -mt-6 pointer-events-auto">
              <figure class="relative">
                <div class="flex flex-col justify-center top-30 items-center bg-opacity-40 text-neutral p-3 mt-1">
                  <h2 class="card-title text-[10px] md:text-[30px]">Studerende</h2>
                  <p class="text-center text-[10px] md:text-[40px]">130 kr.</p>
                  <p class="text-[10px] md:text-[20px]">+ gebyr 12 kr.</p>
                  <input type="number" min="0" max="10" value="0" class="w-12 md:w-20 text-center rounded border border-gray-300 py-1 px-2 text-black bg-white mx-auto my-2" style="position: static;" />
                </div>
                <Primarybutton />
              </figure>
            </div>
          </div>
        </div>

        <div class="relative inline-block swing-in-bottom-bck">
          <img src="/billetcard.svg" alt="Main Image" class="w-48 sm:w-auto" />
          <div class="absolute inset-0 flex justify-center items-center pointer-events-none">
            <div class="flex justify-center items-center w-15 mx-auto -mt-6 pointer-events-auto">
              <figure class="relative">
                <div class="flex flex-col justify-center top-30 items-center bg-opacity-40 text-neutral p-3 mt-4">
                  <h2 class="card-title text-[10px] md:text-[30px]">Pensionister</h2>
                  <p class="text-center text-[10px] md:text-[30px]">130 kr.</p>
                  <p class="text-[6px] md:text-[20px]">(65+ og førtidspensionister) + gebyr 12 kr.</p>
                  <input type="number" min="0" max="10" value="0" class="w-12 md:w-20 text-center rounded border border-gray-300 py-1 px-2 text-black bg-white mx-auto my-4" style="position: static;" />
                </div>
                <Primarybutton />
              </figure>
            </div>
          </div>
        </div>

        <div class="relative inline-block">
          <img src="/billetcard.svg" alt="Main Image" class="w-48 sm:w-auto" />
          <div class="absolute inset-0 flex justify-center items-center pointer-events-none">
            <div class="flex justify-center items-center w-15 mx-auto -mt-6 pointer-events-auto">
              <figure class="relative">
                <div class="flex flex-col justify-center top-30 items-center bg-opacity-40 text-neutral p-3 mt-4">
                  <h2 class="card-title text-[10px] md:text-[30px]">Studerende</h2>
                  <p class="text-center text-[10px] md:text-[30px]">130 kr.</p>
                  <p class="text-[10px] md:text-[20px]">+ gebyr 12 kr.</p>
                  <input type="number" min="0" max="10" value="0" class="w-12 md:w-20 text-center rounded border border-gray-300 py-1 px-2 text-black bg-white mx-auto my-4" style="position: static;" />
                </div>
                <Primarybutton />
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-1"></div>
    </div>

    <h5 class="brygada-1918-400 text-[20px] md:text-[50px] m-[30px] sm:m-30 mt-10 mb-7 sm:mt-15">Dagsbillet</h5>
    <div class="flex justify-end mb-7">
      <p class="max-w-60 text-right text-[12px] md:text-[16px] rotate-6 inline-block">*Enkelte events kræver tilmelding eller ekstra betaling, hvilket vil fremgå tydeligt i programmet.</p>
    </div>

    <div class="flex flex-row items-center justify-center gap-8 w-full">
      <div class="flex flex-1"></div>
      <div class="flex flex-row items-center justify-center gap-8">
        <div class="relative inline-block">
          <img src="/billetcard.svg" alt="Main Image" class="w-48 sm:w-auto" />
          <div class="absolute inset-0 flex justify-center items-center pointer-events-none">
            <div class="flex justify-center items-center w-15 mx-auto -mt-6 pointer-events-auto">
              <figure class="relative">
                <div class="flex flex-col justify-center top-30 items-center bg-opacity-40 text-neutral p-3 mt-4">
                  <h2 class="card-title text-[10px] md:text-[30px]">Standard</h2>
                  <p class="text-center text-[10px] md:text-[40px]">110 kr.</p>
                  <p class="text-[10px] md:text-[20px]">+ gebyr 12 kr.</p>
                  <input type="number" min="0" max="10" value="0" class="w-12 md:w-20 text-center rounded border border-gray-300 py-1 px-2 text-black bg-white mx-auto my-4" style="position: static;" />
                </div>
                <Primarybutton />
              </figure>
            </div>
          </div>
        </div>

        <div class="relative inline-block">
          <img src="/billetcard.svg" alt="Main Image" class="w-48 sm:w-auto" />
          <div class="absolute inset-0 flex justify-center items-center pointer-events-none">
            <div class="flex justify-center items-center w-15 mx-auto -mt-6 pointer-events-auto">
              <figure class="relative">
                <div class="flex flex-col justify-center top-30 items-center bg-opacity-40 text-neutral p-3 mt-4">
                  <h2 class="card-title text-[10px] md:text-[30px]">Pensionister</h2>
                  <p class="text-center text-[10px] md:text-[40px]">80 kr.</p>
                  <p class="text-[6px] md:text-[20px]">(65+ og førtidspensionister) + gebyr 12 kr.</p>
                  <input type="number" min="0" max="10" value="0" class="w-12 md:w-20 text-center rounded border border-gray-300 py-1 px-2 text-black bg-white mx-auto my-4" style="position: static;" />
                </div>
                <Primarybutton />
              </figure>
            </div>
          </div>
        </div>

        <div class="relative inline-block">
          <img src="/billetcard.svg" alt="Main Image" class="w-48 sm:w-auto" />
          <div class="absolute inset-0 flex justify-center items-center pointer-events-none">
            <div class="flex justify-center items-center w-15 mx-auto -mt-6 pointer-events-auto">
              <figure class="relative">
                <div class="flex flex-col justify-center top-30 items-center bg-opacity-40 text-neutral p-3 mt-4">
                  <h2 class="card-title text-[10px] md:text-[30px]">Studerende</h2>
                  <p class="text-center text-[10px] md:text-[40px]">80 kr.</p>
                  <p class="text-[10px] md:text-[20px]">+ gebyr 12 kr.</p>
                  <input type="number" min="0" max="10" value="0" class="w-12 md:w-20 text-center rounded border border-gray-300 py-1 px-2 text-black bg-white mx-auto my-4" style="position: static;" />
                </div>
                <Primarybutton />
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-1"></div>
    </div>
  </article>

  <article class="p-[30px] sm:p-60">
    <div class="flex flex-col md:flex-row items-center gap-8 mt-8 m-[30px]">
      <div class="flex-1">
        <p class="brygada-1918-400 font-bold text-[20px] md:text-[30px] mb-7">Priser i indgangen</p>
        <p class="noto-sans-sora-sompeng-400 mt-7 mb-7">Billetter er dyrere i indgangen køb online og spar! Priser i indgangen: Partout: 205 kr. · Stud./Pensionist: 160 kr. Dagsbillet: 140 kr. · Stud./Pensionist: 110 kr. Du kan ombytte din dagsbillet til weekendbillet for kun 75 kr. i Informationen på Tangkrogen.</p>
        <h7 class="brygada-1918-400 font-bold text-[20px] md:text-[30px] mt-7 mb-7">Vilkår for online køb af billetter</h7>
        <p class="noto-sans-sora-sompeng-400 mt-7 mb-7">Onlinesalg af billetter fortsætter til og med søndag den 7. september kl. 17.00. Muligheden for at købe en dagsbillet til forsalgspris online udløber kl. 00.00 dagen før. Hvis du eksempelvis skal købe en dagsbillet til søndag, skal du købe billetten lørdag inden kl. 23.59 for at få forsalgsprisen.</p>
      </div>
      <div class="flex flex-col gap-4 flex-1 items-center hidden xl:flex">
        <div class="relative w-full flex justify-center mb-30">
          <img src="/burgerbillede.svg" alt="billede" />
          <img src="/manddervinker.svg" alt="billede" class="absolute -top-20 left-1/4 -translate-x-1/2" />
          <img src="/mandderhænger.svg" alt="billede" class="absolute top-[95%] left-1/2 -translate-x-1/2 animate-sway md:top-[500px] md:left-4/5 md:-translate-x-1/2" style="transform-origin: top center;" />
        </div>
      </div>
    </div>
  </article>
</MainLayout>

