---
import MainLayout from "../layouts/MainLayout.astro";
import Index from "./index.astro";
import Headerbanner from "../components/Headerbanner.astro";
import Header from "../components/Header.astro";
import Herosectiontypografi from "../components/Herosectiontypografi.astro";
import Sekundaerknap from "../components/Sekundaerknap.astro";
---

<MainLayout>
  <Headerbanner />
  <Herosectiontypografi />

  <article class="p-[16px] sm:p-16">
    <div class="ml-8">
      <h1 class="brygada-1918-400 text-[20px] md:text-[50px] mt-7 mb-4">Aktiviter</h1>
      <p class="noto-sans-sora-sompeng-400 max-w-lg mt-7 mb-7">Se oversigt over vores mange aktiviteter de følgende dage fredag, lørdag og søndag. Hvor du blandt andet kan deltage i workshops tag med i smageværksted eller træk i forklædet til en cook-along.</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 my-8 px-8 py-8">
      <div class="group bg-base-100 hover:bg-base-300 transition-all duration-300 p-8 flex items-center justify-center min-h-[150px] shadow-md hover:shadow-lg border border-base-300 cursor-pointer">
        <h1 class="text-base-300 text-4xl brygada-1918-400 font-bold relative">
          <span class="block group-hover:hidden">FREDAG</span>
          <span class="hidden group-hover:block text-center text-base-100">
            FREDAG<br />
            <span class="text-sm">Her er aktiviteterne fredag d. 23</span>
          </span>
        </h1>
      </div>
      <div class="group bg-base-100 hover:bg-base-300 transition-all duration-300 p-8 flex items-center justify-center min-h-[150px] shadow-md hover:shadow-lg border border-base-300 cursor-pointer">
        <h1 class="text-base-300 text-4xl brygada-1918-400 font-bold relative">
          <span class="block group-hover:hidden">LØRDAG</span>
          <span class="hidden group-hover:block text-center text-base-100">
            LØRDAG<br />
            <span class="text-sm">Her er aktiviteterne lørdag d. 24</span>
          </span>
        </h1>
      </div>

      <div class="group bg-base-100 hover:bg-base-300 transition-all duration-300 p-8 flex items-center justify-center min-h-[150px] shadow-md hover:shadow-lg border border-base-300 cursor-pointer">
        <h1 class="text-base-300 text-4xl brygada-1918-400 font-bold relative">
          <span class="block group-hover:hidden">SØNDAG</span>
          <span class="hidden group-hover:block text-center text-base-100">
            SØNDAG<br />
            <span class="text-sm">Her er aktiviteterne søndag d. 25</span>
          </span>
        </h1>
      </div>
    </div>
  </article>

  <article class="p-[16px] sm:p-16">
    <div class="w-screen relative left-1/2 right-1/2 -mx-[50vw] p-[16px] sm:p-16 bg-[#0B5BF8]/5">
      <div class="ml-8">
        <h1 class="brygada-1918-400 text-[20px] md:text-[50px] mt-7 mb-4">Events</h1>
        <p class="noto-sans-sora-sompeng-400 max-w-lg mt-7 mb-7">Kom med til festen: Danmarks bedste madhåndværkere i landets lækreste kappestrid</p>
      </div>

      <div class="flex flex-col md:flex-row justify-center gap-8 my-8 px-8 py-8">
        <div class="bg-white p-8 flex flex-col items-center justify-center min-h-[250px] shadow-md border border-base-300">
          <img src="/eventbillede1.svg" alt="Card 1 Image" class="mb-4 rounded" />
          <h1 class="text-base-300 text-2xl md:text-4xl brygada-1918-400 font-bold">DM I HOTDOG</h1>
          <p>
            <ul>
              <li>
                <strong>Søndag:</strong> 12.00 – 16.00<br />
                <strong> Iværksætteriet</strong>
              </li>
            </ul>
          </p>
        </div>
        <div class="bg-white p-8 flex flex-col items-center justify-center min-h-[250px] shadow-md border border-base-300">
          <img src="/eventbillede2.svg" alt="Card 2 Image" class="mb-4 rounded" />
          <h1 class="text-base-300 text-2xl md:text-4xl brygada-1918-400 font-bold">DM I GRILL</h1>
          <p>
            <ul>
              <li>
                <strong>Lørdag:</strong> 10.00 – 19.00<br />
                <strong>Søndag:</strong> 10.00 – 17.00<br />
              </li>
            </ul>
          </p>
        </div>
        <div class="bg-white p-8 flex flex-col items-center justify-center min-h-[250px] shadow-md border border-base-300">
          <img src="/eventbillede3.svg" alt="Card 3 Image" class="mb-4 rounded" />
          <h1 class="text-base-300 text-2xl md:text-4xl brygada-1918-400 font-bold">ÅRETS COKTAIL</h1>
          <p>
            <ul>
              <li>
                <strong>Lørdag:</strong> 18.00 – 20.00<br />
                <strong> Gildesalen</strong>
              </li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </article>

  <article class="p-[16px] sm:p-16 mb-60">
    <div class="flex flex-row md:flex-row justify-center gap-4 md:gap-20 my-8 px-4 md:px-8 py-8 bounce-up-down">
      <div class="flex flex-col items-center gap-4 md:gap-10">
        <h1 class="text-1xl md:text-5xl brygada-1918-400 font-bold">200 Stande</h1>
        <img src="/illustrationstande.svg" alt="" class="w-15 md:w-auto animate-[slideInLeft_20s_ease-out_forwards_infinite]" />
      </div>

      <div class="flex flex-col items-center gap-4 md:gap-10">
        <h1 class="text-1xl md:text-5xl brygada-1918-400 font-bold">7 Festivalsområder</h1>
        <img src="/illustrationtelt.svg" alt="" class="w-24 md:w-auto animate-[slideInRight_20s_ease-out_forwards_infinite]" />
      </div>
    </div>

    <div class="animate-bounce-up-down">
      <a href="https://www.foodfestival.dk/oplevelser-2025/madoplevelser-i-stande/" class="text-base-300 underline block text-center text-[24px] md:text-[40px] mb-[50px] mt-10 hover:text-info transition-colors duration-200"> SE KORTET HER </a>
    </div>
  </article>

  <article class="p-0 sm:p-0 mb-80">
    <div class="w-screen relative left-1/2 right-1/2 -mx-[50vw] bg-gradient-to-br from-[#0B5BF8]/10 to-[#EE8E46]/20">
      <div class="order-first md:order-none col-span-2 md:col-span-1 rounded-xl p-8 max-w-3xl mx-auto">
        <h5 class="font-semibold mb-4 text-base-300 brygada-1918-400 flex justify-center text-[28px] md:text-[60px] color-change-2x animate-pulse">HEY!</h5>
        <form class="flex flex-col space-y-4" autocomplete="off">
          <div class="flex items-center gap-4">
            <label for="name" class="text-sm font-medium noto-sans-sora-sompeng-400 text-[14px] sm:text-[20px] whitespace-nowrap">Jeg hedder</label>
            <div class="relative flex-1">
              <input id="name" name="name" type="text" class="p-3 border-none outline-none focus:shadow-lg bg-transparent w-full" placeholder="Skriv dit navn..." required />
            </div>
          </div>

          <div class="flex flex-col sm:flex-row items-start sm:items-center gap-2 sm:gap-4">
            <label for="email" class="text-sm font-medium noto-sans-sora-sompeng-400 text-[14px] sm:text-[20px] whitespace-nowrap mb-2 sm:mb-0">Jeg vil gerne høre mere om næste års foodfestival, min mail er</label>
            <div class="relative flex-1 w-full">
              <input id="email" name="email" type="email" class="p-3 transition-all duration-200 bg-transparent outline-none border-none w-full" placeholder="Skriv din email..." required />
            </div>
          </div>
        </form>
        <div class="flex justify-center mt-6">
          <Sekundaerknap />
        </div>
      </div>
    </div>
  </article>
</MainLayout>
