---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Headerbanner from "../components/Headerbanner.astro";
import Header from "../components/Header.astro";
import Herosectiontypografi from "../components/Herosectiontypografi.astro";
import Primarybutton from "../components/Primarybutton.astro";
---

<div class="relative">
  <figure class="relative">
    <img src="/billetcard.svg" alt="Shoes" class="w-full h-auto" />
    <div class="absolute inset-0 flex flex-col justify-center items-center bg-opacity-40 text-neutral p-4">
      <label class="flex flex-col items-center mt-2 mb-2">
        <button type="button" class="w-26 text-center rounded border border-gray-300 py-1 px-2 text-black bg-white transition-all duration-200 focus:w-24" id="chooseTicketsBtn" onclick="document.getElementById('ticketPopup').classList.remove('hidden')"> 0 billetter </button>
        <div id="ticketPopup" class="fixed inset-0 bg-black bg-opacity-30 flex items-center justify-center z-50 hidden" onclick="if(this === window.event?.currentTarget) this.classList.add('hidden')">
          <div class="bg-white rounded-lg p-6 flex flex-col items-center" onclick="window.event.stopPropagation()">
            <span class="mb-2 text-lg">Billetter</span>
            <input type="number" min="1" max="10" value="1" class="w-20 text-center rounded border border-gray-300 py-1 px-2 text-black mb-4" id="ticketInput" />
            <button type="button" class="bg-blue-600 text-white px-4 py-2 rounded" onclick="
              document.getElementById('chooseTicketsBtn').innerText = document.getElementById('ticketInput').value + ' stk';
              document.getElementById('ticketPopup').classList.add('hidden');
            "> OK </button>
          </div>
        </div></label
      >
    </div>
  </figure>
</div>

