---
import Sekundaerknap from "../components/Sekundaerknap.astro";
---

<div class="w-screen flex justify-center items-center mb-0 mt-30 relative left-1/2 right-1/2 -translate-x-1/2">
  <img src="/footergrafik.svg" alt="billede" class="w-full max-w-none" />
</div>
<article class="bg-[#0B5BF8]/5">
  <footer class="text-neutral py-8 mx-[100px] sm:mx-4 backdrop-blur">
    <div class="max-w-6xl mx-auto px-4 grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 gap-8">
      <div>
        <p class="font-semibold mb-2 text-base-200 noto-sans-sora-sompeng-400 text-[12px] sm:text-[20px]">Adresse:</p>
        <ul class="space-y-1">
          <li>
            <a href="#" class="hover:underline brygada-1918-400 text-[10px] md:text-[15px] hover:text-base-200"> Adresse: Tangkrogen, 8000 Aarhus C </a>
          </li>
        </ul>

        <p class="font-semibold mb-2 text-base-200 noto-sans-sora-sompeng-400 text-[12px] sm:text-[20px]">Kontakt:</p>
        <ul class="space-y-1">
          <li><a href="#" class="hover:underline brygada-1918-400 text-[10px] md:text-[15px] hover:text-base-200">Mail: info@thefoodproject.dk</a></li>
        </ul>
        <p class="font-semibold mb-2 text-base-200 noto-sans-sora-sompeng-400 text-[12px] sm:text-[20px]">Kontoradresse:</p>
        <ul class="space-y-1">
          <li><a href="#" class="hover:underline brygada-1918-400 text-[10px] md:text-[15px] hover:text-base-200">Studsgade 10A, 1. sal 8000 Aarhus C </a></li>
        </ul>
        <div class="flex space-x-4 mt-4">
          <a href="#" aria-label="Facebook">
            <img src="/instagram.svg" class="heartbeat" alt="billede" />
          </a>
          <a href="#" aria-label="Instagram">
            <img src="/facebook.svg" class="heartbeat" alt="billede" />
          </a>
        </div>
      </div>
      <div>
        <ul class="space-y-1">
          <li><a href="/omvoresmission" class="hover:underline brygada-1918-400 text-[10px] md:text-[15px] hover:text-base-200">Om vores mission</a></li>
          <li><a href="#" class="hover:underline brygada-1918-400 text-[10px] md:text-[15px] hover:text-base-200">Tilmeld Virksomhed</a></li>
          <li><a href="#" class="hover:underline brygada-1918-400 text-[10px] md:text-[15px] hover:text-base-200">Praktikant</a></li>
          <li><a href="#" class="hover:underline brygada-1918-400 text-[10px] md:text-[15px] hover:text-base-200">Handelspolitik</a></li>
          <li><a href="#" class="hover:underline brygada-1918-400 text-[10px] md:text-[15px] hover:text-base-200">Cookie- og persondatapolitik</a></li>
          <li><a href="#" class="hover:underline brygada-1918-400 text-[10px] md:text-[15px] hover:text-base-200">Sponsorer</a></li>
          <li><a href="#" class="hover:underline brygada-1918-400 text-[10px] md:text-[15px] hover:text-base-200">Engelsk</a></li>
          <li><a href="#" class="hover:underline brygada-1918-400 text-[10px] md:text-[15px] hover:text-base-200">Kort over festivalsområder</a></li>
        </ul>
      </div>
      <!-- On mobile, make this div span two columns using col-span-2 -->

      <div class="order-first md:order-none col-span-2 md:col-span-1">
        <div class="order-first md:order-none col-span-2 md:col-span-1">
          <h5 class="font-semibold mb-2 text-base-300 brygada-1918-400 flex justify-center text-[20px] md:text-[60px]">HEY!</h5>
          <form class="flex flex-col space-y-2">
            <label for="name" class="text-sm font-medium noto-sans-sora-sompeng-400 text-[14px] sm:text-[15px] whitespace-nowrap">Jeg hedder</label>
            <input id="name" name="name" type="text" class="p-3 border-none outline-none focus:shadow-lg bg-transparent w-full" placeholder="Skriv dit navn..." required />

            <label for="email" class="text-sm font-medium noto-sans-sora-sompeng-400 text-[14px] sm:text-[15px] whitespace-nowrap mb-2 sm:mb-0">Jeg vil gerne høre mere om næste års foodfestival</label>
            <label for="email">,min mail er</label>

            <input id="email" name="email" type="email" class="p-3 transition-all duration-200 bg-transparent outline-none border-none w-full" placeholder="Skriv din email..." required />
          </form>
          <div class="flex justify-center mt-4">
            <Sekundaerknap />
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center mt-8 jello-vertical">
      <div class="text-[60px] sm:text-[80px] md:text-[100px] text-base-200 oi-regular text-center" aria-hidden="true">Food festival</div>
    </div>
  </footer>
</article>
