---

---
<a href="/billetoversigt" class="block overflow-hidden w-full relative h-11 p-1 border-1 border-base-300">
  <div class="absolute whitespace-nowrap font-bold animate-move inria-serif-regular-italic hover:text-accent-content
    text-base-300 text-lg
    sm:text-xl
    md:text-2xl
    lg:text-3xl
    xl:text-4xl
    ">
    forsalg. spar. køb billet nu. forsalg. spar. køb billet nu. forsalg. spar. køb billet nu. forsalg. spar. køb billet nu forsalg. spar. køb billet nu. forsalg. spar. køb billet nu. forsalg. spar. køb billet nu. forsalg. spar. køb billet nu forsalg. spar. køb billet nu. forsalg. spar. køb billet nu. forsalg. spar. køb billet nu. forsalg. spar. køb billet nu
  </div>
</a>
