---

---
<a href="/billetoversigt" class="block overflow-hidden w-full relative h-11 p-1 border-1 border-base-300">
  <div class="absolute whitespace-nowrap text-base-300 font-bold text-2xl animate-move inria-serif-regular-italic hover:text-accent-content">
    forsalg. spar. køb billet nu. forsalg. spar. køb billet nu. forsalg. spar. køb billet nu. forsalg. spar. køb billet nu forsalg. spar. køb billet nu. forsalg. spar. køb billet nu. forsalg. spar. køb billet nu. forsalg. spar. køb billet nu forsalg. spar. køb billet nu. forsalg. spar. køb billet nu. forsalg. spar. køb billet nu. forsalg. spar. køb billet nu
  </div>
</a>

