---

---

<div x-data="{ showmenu: false }" class="p-4 fixed lg:static w-full">
  <header id="navbar" class="flex flex-row justify-between items-center">
    <div id="logo">
      <a href="/">
        <img class="w-20 lg:w-30" src="/Logo.svg" alt="Skraldespand Logo" />
      </a>
    </div>
    <nav id="desktopmenu" class="hidden lg:block">
      <div class="flex flex-row items-center space-x-4">
        <img class="w-7 lg:w-10" src="/kurv.svg" alt="billede" />
        <img class="w-7 lg:w-10 cursor-pointer" src="/Menu.svg" alt="" x-on:click="showmenu = !showmenu" />
      </div>
    </nav>
    <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = !showmenu" :aria-expanded="showmenu.toString()" aria-label="Åbn mobilmenu">
      <div class="flex flex-row items-center space-x-4">
        <img class="w-7 lg:w-10" src="/kurv.svg" alt="billede" />
        <img class="w-7 lg:w-10 cursor-pointer" src="/Menu.svg" alt="menu ikon" />
      </div>
    </button>
  </header>
  <nav id="mobilmenu" class="flex flex-col content-center pt-4 mb-20 fixed inset-0 bg-white z-50 transition-all duration-300" :class="{ 'hidden': !showmenu, 'flex': showmenu }" x-show="showmenu" x-transition x-on:click.outside="showmenu = false">
    <button class="self-end mr-6 mt-4 text-3xl font-bold focus:outline-none" x-on:click="showmenu = false" aria-label="Luk menu"> &times; </button>
    <ul class="bg-base-300 text-center font-bold pb-10 space-y-4 mt-20">
      <li>
        <a href="/prisliste" class="hover:text-base-200 text-base-100 transition noto-sans-200 text-[20px] lg:text-[60px] brygada-1918-400" x-on:click="showmenu = false">Events</a>
      </li>
      <li>
        <a href="/" class="hover:text-base-200 text-base-100 transition noto-sans-200 text-[20px] lg:text-[60px] brygada-1918-400" x-on:click="showmenu = false">Billetter</a>
      </li>
      <li>
        <a href="/form" class="hover:text-base-200 text-base-100 transition noto-sans-200 text-[20px] lg:text-[60px] brygada-1918-400" x-on:click="showmenu = false">Vores mission</a>
      </li>
      <li>
        <a href="/form" class="hover:text-base-200 text-base-100 transition noto-sans-200 text-[20px] lg:text-[60px] brygada-1918-400" x-on:click="showmenu = false">Bliv frivillig</a>
      </li>
      <li>
        <a href="/form" class="hover:text-base-200 text-base-100 transition noto-sans-200 text-[20px] lg:text-[60px] brygada-1918-400" x-on:click="showmenu = false">Kort</a>
      </li>
      <li>
        <a href="/form" class="hover:text-base-200 text-base-100 transition noto-sans-200 text-[20px] lg:text-[60px] brygada-1918-400" x-on:click="showmenu = false">Forside</a>
      </li>
    </ul>
  </nav>
</div>
