<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Oi&display=swap" rel="stylesheet" />

<div class="mt-7">
  <div class="relative inline-block w-full">
    <img src="/herosectiontypografi.jpg" alt="Sample Image" class="w-full h-auto" />
    <div class="absolute top-1/2 right-0 md:right-40 transform -translate-y-1/2 flex items-center justify-end jello-vertical">
      <h1 class="text-base-200 text-4xl md:text-8xl font-bold bg-opacity-50 p-2 rounded oi-regular">FESTIVAL</h1>
    </div>
    <div class="absolute left-10 md:left-20 bottom-10 md:bottom-20 flex items-center justify-center jello-vertical">
      <h1 class="text-base-200 text-4xl md:text-8xl font-bold bg-opacity-50 p-2 rounded oi-regular">FOOD</h1>
    </div>
    <div class="absolute right-20 bottom-[-60px] flex items-center justify-end">
      <h1 class="text-base-300 text-4xl md:text-8xl font-bold bg-opacity-50 p-2 rounded inria-serif-regular-italic">ÅRHUS</h1>
    </div>
  </div>
</div>
