<div class="mt-7">
  <div class="relative inline-block">
    <img src="/herosectiontypografi.jpg" alt="Sample Image" class="w-full h-auto" />
    <div class="absolute inset-0 flex items-center justify-end pr-60">
      <h1 class="text-base-200 text-8xl font-bold bg-opacity-50 p-2 rounded">FESTIVAL</h1>
    </div>
    <div class="absolute left-20 bottom-20 flex items-center justify-center">
      <h1 class="text-base-200 text-8xl font-bold bg-opacity-50 p-2 rounded">FOOD</h1>
    </div>
    <div class="absolute right-20 bottom-[-60px] flex items-center justify-end">
      <h1 class="text-base-300 text-8xl font-bold bg-opacity-50 p-2 rounded inria-serif-regular-italic">ÅRHUS</h1>
    </div>
  </div>
</div>
