<div class="mt-7">
  <img src="/herosectiontypografi.jpg" alt="billede" />
  <div style="absolute inset-0 flex items-center justify-center">
    <h1 class="text-base-200 oi-regular text-8xl">FOOD</h1>
  </div>
  <div style="absolute inset-0 flex items-center justify-center">
    <h1 class="text-base-200 oi-regular text-8xl">FESTIVAL</h1>
  </div>
  <div style="position: absolute; top: 12; right: 0; z-index: 10; text-align: right;">
    <h2 class="text-base-300 brygada-1918-400 text-8xl">ÅRHUS</h2>
  </div>
</div>

