<div class="mt-7">
  <img src="/herosectiontypografi.jpg" alt="billede" />
  <h1 class="text-base-200">Food</h1>
  <h1 class="text-base-200">Festival</h1>
  <h2 class="text-base-300">Århus</h2>
</div>
