<div class="mt-7">
  <img src="/herosectiontypografi.jpg" alt="billede" />
  <h1 class="text-base-200 oi-regular text-8xl">FOOD</h1>
  <h1 class="text-base-200 oi-regular text-8xl">FESTIVAL</h1>
  <h2 class="text-base-300 brygada-1918-400 text-8xl">ÅRHUS</h2>
</div>
