<div class="flex justify-center items-center w-full h-full">
    <button class="rounded-full w-28 h-6 md:w-40 md:h-10 text-[10px] md:text-[15px] bg-base-300 border-none flex items-center justify-center text-base-100 cursor-pointer shadow-md transition duration-300 hover:bg-base-200 brygada-1918-400
        hover:-translate-y-2
        ">
        LÆG I KURV
    </button>
</div>
