<div class="flex justify-center items-center w-full h-full transition-transform duration-300 hover:scale-150">
  <button class="rounded-full w-28 h-6 md:w-40 md:h-10 text-[10px] md:text-[15px] bg-base-300 border-none flex items-center justify-center text-base-100 cursor-pointer shadow-md transition-colors duration-200 hover:bg-base-200 brygada-1918-400"> LÆG I KURV </button>
</div>
