<button class="rounded-full w-40 h-16 bg-base-300 border-none flex items-center justify-center text-base-100 cursor-pointer shadow-md transition-all duration-200 hover:bg-info hover:-translate-y-2 brygada-1918-400">
    SKRIV DIG OP
</button>
